<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite" parallel="classes" verbose="5">
	<test thread-count="5" name="Test">
		<classes>
			<class name="testCases.TC_001_CreateLead" />
			<class name="testCases.TC_002_EditLead" />
			<class name="testCases.TC_002_DeleteLead" />
			<class name="testCases.TC_002_DuplicateLead" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
